[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-camels-plugin"]
	path = packages/nomad-camels-plugin
	url = https://github.com/FAIRmat-NFDI/nomad-camels-plugin.git
[submodule "packages/nomad-perovskite-solar-cells-database"]
	path = packages/nomad-perovskite-solar-cells-database
	url = https://github.com/FAIRmat-NFDI/nomad-perovskite-solar-cells-database.git
[submodule "packages/nomad-SiC-defects-database"]
	path = packages/nomad-SiC-defects-database
	url = https://github.com/ninahaelterlein/nomad-SiC-defects-database.git
